# Python
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class

# Virtual environment files
.python-version

# Node
node_modules/
dist/
build/

# Environment Variables
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Uploads
uploads/

# Logs
*.log

# OS
.DS_Store
Thumbs.db